<li id = 'list'>
  <%= link_to image_tag(list.show.poster) + Show.find_by(id: list.show_id).title, list_path(list.id) %>
  <% if current_user == list.user %>
  <%= link_to 'Delete', list_path(list), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger btn-xs" %></br>
  <% end %>
  <small>(<%= pluralize(list.list_episodes.count, "Episode") %>)</small>
</li>