<a href=<%=list_path(list.id)%> class="list-group-item">
  <span class="badge"><%= pluralize(list.list_episodes.count, "Episode") %></span>
      <%= image_tag(list.show.poster)%>
      <h2><%= Show.find_by(id: list.show_id).title %></h2>
</a>