<% provide(:title, @list.show.title) %>
<div class = "container">
<h1> <%= @list.user.name %>'s <%= @list.show.title%> BuzzList</h1>
<ol id = "list_episodes" data-update-url = "<%= sort_list_episodes_url %>" >
    <%= render @list_episodes %>
</ol>
</div>