added <%= link_to activity.trackable.episode.title, activity.trackable.episode %>
to their <%= link_to "BuzzList", activity.trackable.list %>
for <%= link_to activity.trackable.list.show.title, activity.trackable.list.show %>
<div class="time_stamp"><%= time_ago_in_words(activity.trackable.created_at) %> ago</div>
</div>