ranked <%= link_to activity.trackable.episode.title, activity.trackable.episode %>
as their favorite episode
on their <%= link_to "BuzzList", activity.trackable.list %>
for <%= link_to activity.trackable.list.show.title, activity.trackable.list.show %>
</div>