<div class = "like_button" id = "like_for_quote_<%= item_id %>" >
<% if Like.exists?(user_id: current_user, likable_type: item_type, likable_id: item_id) %>
  <%= link_to "", like_path(likable_type: item_type, likable_id: item_id), method: :delete, remote: true, class: "glyphicon glyphicon-heart" %>
  <% else %>
    <%= link_to "", likes_path(likable_type: item_type, likable_id: item_id), method: :post, remote: true, class: "glyphicon glyphicon-heart-empty" %>
<% end %>
  (<%= Like.where(likable_id: item_id likable_type: item_type).count.to_s %>)
</div>