<% @user ||= current_user %>
<div class="stats">
  <a href="<%= users_path(id: @user, follow_type: "following") %>">
    <strong id="following" class="stat">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= users_path(id: @user, follow_type: "followers") %>">
    <strong id="followers" class="stat">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>