followed <%= link_to activity.trackable.followed.name, activity.trackable.followed %>
<div class="time_stamp"><%= time_ago_in_words(activity.trackable.created_at) %> ago</div>
</div>
<div class="panel-body">
<%= render activity.trackable.followed %>
</div>