<div class = "panel panel-default">
<div class="panel-heading">
<%= link_to gravatar_for(tag.tagger, size: "20") + tag.tagger.name, tag.tagger %> wants you to check out this <%= tag.taggable_type.downcase%>
</div>
<div class="panel-body">
<%= render tag.taggable %>
</div>
</div>