<% if current_user == list_episode.list.user %>
<%= content_tag_for :li, list_episode do %>
  <span class = 'handle'>[drag]</span>
  <%= link_to list_episode.episode.title, episode_path(list_episode.episode_id) %>
  <%= link_to "Remove", list_episode_path(list_episode), method: :delete %>
<% end %>
<% else %>
<li>
<%= link_to list_episode.episode.title, episode_path(list_episode.episode_id) %>
</li>
<% end %>