// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.like_button{
    margin: auto;
    a{
       font-size: 40px;
       color: #5CB85C;
    }
    a:hover{
        text-decoration: none;
        cursor: pointer;
        color: #29a552;
    }
}