// Place all the styles related to the list_episodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#list_episodes {
    .list_episode{
    cursor: move;
        
    }
}
.btn{
    float: right;
}
small{
    font-size: 14px;
}