// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lists{
    padding: 0 3%;
    img{
        margin-right: 1%;
        width: 10%;
    }
}
#list{
    font-size: 16px;
    padding: 3% 0;
    border-bottom: 1px solid gray;
    list-style: none;
    .btn{
        float: right;
    }
}