// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#buzzlist-show{
.jumbotron{
    .buzzlist-header{
        text-align: center;
        margin-bottom: 2%;
    }
    h1{
        margin-top: 60px;
        font-size: 30px;
        letter-spacing: -1px;
    }
    img{
        float: left;
        height: 150px;
        width: 150px;
        border-radius: 3%;
    }
}
}
ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}
#my-lists{
    //text-align: center;
    .list-group-item{
        height: 150px;
    }
    img{
        float: left;
        max-height: 100%;
        max-width: 100%;
    }
    h1{
        margin-top: 0;
    }
    h2{
        
        color: black;
        font-size: 2em;
        text-align: center;
        margin-top: 0px;
    }
    .list-group-item:hover{
        background: #337ab7;
        h2{
        color: white;
        }
    }
}