#add-friends{
    float: left;
    margin-top: 12px;
}
#logged-out-outer-flipster{
    padding: 0 6px 6px 6px;
    #logged-out-flipster{
        margin: 0;
        border-radius: 3px;
        background-color: white;
    }
}

#home-page{
    width: 100%;
    background: #f1f1f1;
    padding-top: 12px;

    .col-md-2, .col-md-4, .col-md-5, .col-md-6, .col-md-8, .col-md-10, col-md-12{
        margin: 0;
        padding: 0;
    }
    #user-bar, #outer-feed{
        padding: 0 6px 12px 6px;
    }

    #user-specific{
        background: white;
        padding: 0;
        border-radius: 3px;

        .nav-tabs{
            margin-bottom: 6px;
            li{
                padding: 0;
                display:table-cell !important;
                a{
                    padding: 10px 21px;
                }
            }
        }

        #user-info{

            padding: 0 0 0 12px;
            margin-bottom: 12px;

            .stats{
                a{
                    padding: 0 7px;
                    float: left;
                    text-align: center;
                }
            }
            strong{
                display: block;
            }

        }
        #notification-pills{
            text-align: center;
            padding-right: 12px;
            padding-left: 0;
            a{
                border-radius: 3px;
                border:1px solid #ddd;
                padding: 10px 0;

            }
        }
    }
    #feed{
        background: white;
        border-radius: 3px;
        .nav-justified{
            padding-bottom: 1%;
            padding-top: 12px;
            width: 60%;
            margin: 0 auto
        }

        .login{
            float: none;
            margin: 20px auto;
            font-size: 20px;
        }

        .list-group-item{
            text-align: left;
            .buzzlist-feed-item{
                display: inline-flex;
                h2{
                    color: black;
                    margin: auto;
                    margin-left: 12px;

                }
            }
        }

    }
    #liked, #tagged_in{

        .false{
            background-color: #f0f8ff;
        }

    }
    #notifications{
        border-radius: 3px;
        margin: 0 6px 12px 6px;
        background-color: white;
        text-align: center;

        .activity{
            margin: 0;
            img{
                height: 30px;
            }
        }
        h4{
            margin: 0;
            padding-top: 6px;
        }

        
    }
    #my-lists{

        ul{
            margin-bottom: 12px;
        }

        .btn{
            float: none;
            margin:0 auto;
        }

        li h3{
            margin: 0;
        }

        .nav .active a h3{
            color: black;
        }

        .list-group-item{
            height: 100px;
            margin: 0 12px;

            h2{
                margin: 20px 0 10px 0;
                font-size: 1.5em;
            }
        }
    }
}

.panel{

  margin: 7.5px;
  width: 345px;
  text-align: center;

  .panel-heading{
    padding-bottom: 0;
}

.uploader{
    float: left;
    font-size: 12px;
    color: #bbb;
    white-space: nowrap;
}

.time_stamp{
    font-size: 12px;
    color: #bbb;
}

#user{
    width: 80%;
    margin: 0 auto;
}



}
.my-flipster{
    margin-top: 12px;
}
#sign-up{
    .btn{
        float: none;
        margin: 0 auto;
    }
}