// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron{
    margin-top: 1%;
}
#weolcome{
    margin-top: 0;
}
#add-friends{
    display: block;
    margin:2% auto;
    width: 40%;
}

#home-page{

    .col-md-2, .col-md-6, .col-md-4{
        padding: 0;
    }
    
    width: 100%;
    background: #f1f1f1;
    padding-top: 12px;

.btn{
    float: none;
    margin: 0 auto;
}

#notifications{
    border-radius: 3px;
    margin: 0 6px 12px 6px;
    background-color: white;

    h4{
        margin: 0;
        padding-top: 6px;
    }
}
#my-lists{
    border-radius: 3px;
    background: white;
    margin: 0 6px 12px 6px;
    text-align: center;

    li h3{
        margin: 0;
    }

    .nav .active a h3{
        color: black;
    }

    .tab-content{
        padding: 12px 12px 12px 12px;
    }

    #no-buzzlist-display{
        padding: 12px 12px 12px 12px;
    }
    
    .list-group-item{
        height: 100px;
        
        h2{
            margin: 20px 0 10px 0;
            font-size: 1.5em;
        }
    }
}
.pagination{

}
}
/* feed */
#feed{
    background: white;
    padding-bottom: 12px;
    margin: 0 6px 0 6px;
    border-radius: 3px;
    margin-bottom: 12px;
    ul{
        padding-bottom: 1%;
    }
    
}
.activity{
  padding: 10px;
  margin: 5px;
  border-bottom: 1px solid gray;
  
}
// user info
#user-info{
    background: white;
    margin: 0 6px 12px 6px;
    padding: 12px 0 0 0;
    border-radius: 3px;
    h1{
        padding-left: 12px;
        font-size: 22px;
        margin: 0;
        display: block;
        letter-spacing: 0;
        text-align: left;
    }
    img{
        padding-left: 12px;
    }
    .stats{
        a{
            padding: 0 7px;
        }
    }
    .user_info{
        margin-top: 0;
    }
}
.my-flipster{
    margin-top: 3%;
}
#sign-up{
    .btn{
        float: none;
        margin: 0 auto;
    }
}