// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#user-index{
    #search-button{
        margin-bottom: 2%;
    }
    #users{
        #user{
            margin: 0 0 1% 0;
            padding: 0;
        }
    }
}
#follow_form{
    margin-top: 1%;
    max-width: 66%
}
#user-profile{
    .btn{
        margin: 3% 0;
    }
    #my-lists{
        
        .list-group-item{
            height: 100px;
            h2{
                font-size: 1.5em;
            }
        }
        
    }
}

#user-added{
    ul{
        text-align: center;
    }
}