<% provide(:title, "All Shows") %>
<h1>All Shows</h1>

<%= form_tag shows_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil %>
  </p>
  <% end %>

<ul class="shows">
  <%= render @shows %>
</ul>