<% provide(:title, "All Shows") %>
<div class = "container">
<div class = "row">
  <div class = "col-md-6 col-md-offset-3">
    <h1>Buzzlistable shows</h1>
    <%= form_tag shows_path, method: 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
      </p>
    <% end %>
  </div>
</div>
<div class="my-flipster">
  <ul>
  <% @shows.each do |show| %>
  <li>
<%= link_to (image_tag show.poster, size: "300"), show_path(show) %> 
</li>
<% end %>
</ul>

</div>
</div>