<% provide(:title, "All Shows") %>
<h1>Buzzlistable shows</h1>

<%= form_tag shows_path, method: 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", name: nil, class: 'btn btn-primary' %>
  </p>
  <% end %>
<ul class="shows">
  <%= render @shows %>
</ul>